@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  position: relative;
}

body {
  background-color: #94D5F4;
}

.top {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.sky {
  background-image: url("https://i.imgur.com/LGqwP8y.png");
  width: 1366px;
  height: 769px;
  overflow: hidden;
}
.sky .cloud {
  position: absolute;
  top: 50px;
  left: -500px;
  width: 1937px;
  height: 507px;
}
.sky .text {
  position: absolute;
  width: 20%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sky .logo {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tree {
  width: 1468px;
  height: 727px;
  position: absolute;
  top: 70px;
  left: -30px;
}

.building {
  width: 597px;
  height: 531px;
  position: absolute;
  top: 580px;
  left: 110px;
}

.front {
  width: 799px;
  height: 711px;
  position: absolute;
  top: 490px;
  left: 620px;
}

.section1 {
  overflow: hidden;
  width: 100%;
  height: 800px;
  background-color: #009BD5;
}
.section1 h1, .section1 p, .section1 .button3 {
  opacity: 0;
  transition-duration: 0.5s;
}
.section1 p, .section1 .button3 {
  transition-delay: 0.1s;
}
.section1:hover h1, .section1:hover p, .section1:hover .button3 {
  opacity: 1;
}
.section1 .time {
  top: 20%;
  left: -10%;
  width: 120%;
}
.section1 .hand {
  top: -55%;
  left: 12%;
  width: 100%;
}

.section2 {
  overflow: hidden;
  width: 100%;
  height: 800px;
  background-color: #E71A19;
}
.section2 h1, .section2 p, .section2 .button3 {
  opacity: 0;
  transition-duration: 0.5s;
}
.section2 p, .section2 .button3 {
  transition-delay: 0.1s;
}
.section2:hover h1, .section2:hover p, .section2:hover .button3 {
  opacity: 1;
}
.section2 .yellow {
  width: 100%;
  position: absolute;
  top: 75%;
}
.section2 .orange {
  width: 200%;
  left: -10px;
  position: absolute;
  top: 80%;
}
.section2 .mi {
  position: absolute;
  width: 55%;
  left: 45%;
  top: 50px;
}
.section2 .mii {
  -webkit-animation: ani 5s infinite;
          animation: ani 5s infinite;
  position: absolute;
  left: 35%;
  top: 120px;
  width: 35%;
}

.section3 {
  overflow: hidden;
  width: 100%;
  height: 800px;
  background-color: #FF6426;
}
.section3 h1, .section3 p, .section3 .button3 {
  opacity: 0;
  transition-duration: 0.5s;
}
.section3 p, .section3 .button3 {
  transition-delay: 0.1s;
}
.section3:hover h1, .section3:hover p, .section3:hover .button3 {
  opacity: 1;
}
.section3 .orange_box {
  width: 60%;
  position: absolute;
  left: 10%;
  top: 10%;
}
.section3 .red_box {
  width: 60%;
  position: absolute;
  left: 10%;
  top: 10%;
}
.section3 .white_bottle {
  position: absolute;
  top: 15%;
  left: 22%;
  width: 22%;
}
.section3 .idcard {
  top: 45%;
  left: 23%;
  width: 25%;
}

.section4 {
  width: 100%;
  height: 800px;
  background-color: #FFF200;
  overflow: hidden;
}
.section4 h1, .section4 p, .section4 .button3 {
  opacity: 0;
  transition-duration: 0.5s;
}
.section4 p, .section4 .button3 {
  transition-delay: 0.1s;
}
.section4:hover h1, .section4:hover p, .section4:hover .button3 {
  opacity: 1;
}
.section4 .game {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
}

.nav {
  transition-duration: 0.5s;
  background-color: #4287f5;
  margin: 0;
}
.nav li.button1 {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  font-weight: bold;
  left: 800px;
  display: inline-block;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: solid 7px transparent;
}

.f-nav {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9989;
  position: fixed;
}

.content {
  width: 600px;
  position: absolute;
  top: 20%;
  left: 55%;
}
.content .button3 {
  position: absolute;
  top: 300%;
  left: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  border: solid 3px #8f9dbf;
  font-weight: bold;
  color: #8f9dbf;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}
.content .button3:hover {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 11px;
  color: #2c3b5e;
}

h1 {
  color: #2d2d30;
  font-size: 60px;
  font-weight: bold;
}

p {
  color: #2d2d30;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 110px;
  letter-spacing: 5px;
  line-height: 35px;
}

@-webkit-keyframes ani {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes ani {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.section2 .content {
  width: 600px;
  position: absolute;
  top: 30%;
  left: 15%;
}

.section3 .content {
  position: absolute;
  top: 40%;
}

.section4 .content {
  position: absolute;
  top: 35%;
  left: 15%;
}

.end .logo2 {
  position: absolute;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 30%;
  width: 8%;
}
.end .serch {
  border-radius: 5px;
  position: absolute;
  margin-top: 10%;
  margin-bottom: 20px;
  margin-left: 50%;
}

.section2 .content .all {
  visibility: hidden;
  padding: 20px;
  position: absolute;
  left: 60px;
  top: -30px;
  width: 1000px;
  display: inline-block;
}
.section2 .content .all .pic1 {
  width: 200px;
  cursor: pointer;
  -webkit-animation: ani2 2s infinite;
          animation: ani2 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.section2 .content .all .pic2 {
  position: relative;
  margin-left: 40px;
  top: -20px;
  width: 400px;
  cursor: pointer;
  -webkit-animation: ani2 2s infinite;
          animation: ani2 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.section2 .content .all .pic3 {
  width: 300px;
  cursor: pointer;
  -webkit-animation: ani2 2s infinite;
          animation: ani2 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes ani2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ani2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.member1 {
  position: absolute;
  margin-top: 13%;
  width: 45%;
  left: 35%;
}

.end h1 {
  position: absolute;
  margin-left: 40%;
  margin-top: 4%;
}
.end p {
  position: absolute;
  margin-left: 40%;
  margin-top: 2%;
}